@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E3D3D9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E3D3D9;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: lighter;
  margin: 0;
  font-family: "Dancing Script", cursive;
}

.imagebutton{
  box-shadow: rgba(0, 0, 0, 0.849) -.4rem .4rem 0.6rem;
}

.infoblocks{
  width: 100vw;
}

.infomembermerge {
  position: relative;
  background-image: linear-gradient(to bottom, transparent 50%, #be9e9e 50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px){
/* Pseudo-element for the fixed background image */
.infomembermerge::before {
  content: "";
  position: fixed; /* Keeps the image fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://img.freepik.com/darmowe-zdjecie/rozmazana-buzka-kobieta-trzyma-wizytowke_23-2149343413.jpg?t=st=1742240040~exp=1742243640~hmac=a17e3cfebc8740be914aebc395871b36d583ef845c0a2623613545e2fd07b104&w=2000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10; /* Places it behind content */
}
}
