@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1eaed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1eaed;
    --foreground: #ededed;
  }
}

@theme{
  --color-booksy: #13a6b0;
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0;
}
main{
  border-radius: 10px;
}
.imagebutton{
  box-shadow: rgba(0, 0, 0, 0.849) -.4rem .4rem 0.6rem;
}

.infoblocks{
  width: 100vw;
}

.infomembermerge {
  position: relative;
  background-image: linear-gradient(to bottom, transparent 50%, #e9d9d9 50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px){
/* Pseudo-element for the fixed background image */
.infomembermerge::before {
  content: "";
  position: fixed; /* Keeps the image fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/membercardinfobg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10; /* Places it behind content */
}
}

.splitimagetop{
  background-image: url(../public/pics/p12.jpeg);
  background-position: center;
}
.splitimagebot{
  background-image: url(../public/pics/p15.jpeg);
  background-position: center;
}

.treatmentcon{
  background-color: rgb(250, 250, 250);
  cursor: default;
  box-shadow: #171717 0 0 10px;
}