@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E3D3D9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E3D3D9;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0;
}
.imagebutton{
  box-shadow: rgba(0, 0, 0, 0.849) -.4rem .4rem 0.6rem;
}

.infoblocks{
  width: 100vw;
  background:
    linear-gradient(0deg, #825ba3, #ea9be1);
}